
@model Tuple<bool, string, List<Microsoft.Graph.User>>

@{
    ViewBag.Title = "Guest Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GuestUsers", "Users"))
{
    if (!Model.Item1)
    {
        <span><b>The action threw an error: @Model.Item2</b></span>
        <hr />
    }
    <div class="row" style="padding-top:20px">
        <div class="col-md-12 form-group">
            <div class="col-sm-12">
                <b>Listing guest users within current tenant:</b>
                <hr />
            </div>
        </div>
        @foreach (Microsoft.Graph.User a in Model.Item3)
        {
            <div class="col-md-12 form-group">
                <div class="col-sm-12">
                    <span>@("ID: " + a.Id + " , UPN: " + a.UserPrincipalName + " , Display Name: " + a.DisplayName + "")</span>
                </div>
            </div>
        }
    </div>
}






