@using AzureWebUIapp.Models

@model Tuple<bool, string, string, List<ResultsItem>>

@{
    ViewBag.Title = "Showing list of users under a application role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (Model != null)
{
    using (Html.BeginForm("ListRoleMembers", "Users"))
    {
        if (!Model.Item1)
        {
            <div class="row">
                <div class="=" col-md-12">
                    <span><b>The action threw an error: @Model.Item2</b></span>
                    <hr />
                </div>
            </div>
        }
        <div class="row">
            <div class="=" col-md-12">
                <div class="col-md-4">
                    Listing members of application role<span>&nbsp;<b>@Html.DisplayFor(a => a.Item3)</b></span>
                </div>
            </div>
            <hr />
            @foreach (ResultsItem item in Model.Item4)
            {
                <div class="=" col-md-10">
                    <div class="col-md-5">
                        Object ID: <span>@item.Id</span>
                    </div>
                    <div class="col-md-5">
                        Display Name: <span>@item.Display</span>
                    </div>
                </div>

            }
        </div>
    }
}




